<!--<div class=a>-->
  <div class="portfolio-page">
    <div class="portfolio-category" *ngFor="let portfolioCategory of portfolioSections">
      <h3 class="portfolio-category-name">
        {{portfolioCategory.name}}
      </h3>
      <div class="portfolio-category-content">
        <portfolio-card *ngFor="let portfolioItem of portfolioCategory.items" [data]="portfolioItem">
  
        </portfolio-card>
      </div>
    </div>
  </div>
  
  
  





 
  <!--<br>-->
  <!--<br>-->
  <!--<h2>Portfolio</h2>-->
  <!--<p>--> <!--<br>-->
  
  
  
  <!--About-->
  <!--Portfolio-->
  <!--Team-->
  <!--Digital Alpha Advisors-->
  <!--Our Portfolio-->
  <!--WorkingGroupTwo (WG2)-->
  
  <!--Reuters article-->
  
  <!--SDxCentral article-->
  
  <!--Connexin-->
  
  <!--Press Release-->
  
  <!--Cloudian-->
  
  <!--Press Release: Cloudian Secures Funding Commitment of $125 Million in Joint Venture with Digital Alpha to Power Enterprise Object-Storage Growth-->
  <!--<p>-->
  <!--Cisco and Cloudian Collaborate to Create Scale-Out Enterprise Object Storage Solutions-->
  <!--<p>-->
  <!--Cloudian Taking Customers From NetApp In $24B Market (Forbes)-->
  <!--<p>-->
  <!--Cloudian Gets $25M In Funding To Develop Consumption-Based Storage Hardware Business (CRN)-->
  <!--<p>-->
  <!--Cloudian Closes Fiscal Year as Most Widely Deployed Independent Object Storage Provider-->
  <!--<p>-->
  <!--Cloudian and Seagate for Joint Solution-->
  <!--<p>-->
  <!--Quantela-->
  <!--quantela-web.4a173478.jpg-->
  <!--Press Release-->
  <!--<p>-->
  <!--World Economic Forum Awards Quantela Inc. the Coveted 'Technology Pioneer'-->
  <!--<p>-->
  <!--Wi-Fi plan for Erie’s Opportunity Zones moves forward-->
  <!--<p>-->
  <!--UKCloud-->
  <!--UKcloud-logo.jpg-->
  <!--Letter from CEO - Simon Hansford-->
  <!--<p>-->
  <!--UKCloud secures £25m from Cisco investment partner-->
  <!--<p>-->
  <!--UKCloud awarded an expanded presence on G-Cloud 11 with new and improved multi-cloud services-->
  <!--<p>-->
  <!--Google Station Wi-Fi-->
  <!--Google Station.png-->
  <!--Google Station announcement at MWC Barcelona-->
  <!--<p>-->
  <!--JetStream-->
  <!--JetStream logo.PNG-->
  <!--JetStream Software Secures Funding Led by Digital Alpha to Advance DRaaS and Cloud Data Protection-->
  <!--<p>-->
  <!--Pryon-->
  <!--pryon logo.png-->
  <!--Pryon Announces $20M Funding Round-->
  <!--<p>-->
  <!--Digital Alpha Advisors-->
  <!--© 2019 by Digital Alpha Advisors.-->
  <!--</p>-->
  <!--</div>-->
  <!--<style>-->
  <!--h2{-->
  <!--    text-align: center;-->
  <!--  }-->
  <!--  .a {-->
  <!--    padding-left: 75px;-->
  <!--    padding-right: 75px;-->
  <!--  }-->
  <!--  p {-->
  
  <!--color: blue;-->
  <!--}-->
  <!--  </style>-->
