<div class="a">
  <br>
  <br>
  <br>
  <br>
  
  <h1 >Portfolio</h1>
  
  <div class="portfolio-category-content">
  
  
  <div class="project_container">
  
  
    <div class="card hoverable">
  
      <div class="card-start">
  
         
        <div class="project_img">
          <img src="assets/images/coool.jpg">
        </div>
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4></h4></a>
          </div>
      </div>
  
      <div class="card-content">
  
  
        <p>
    
        </p>
  
      </div>
  
      <br>
  
  </div>
  
  
  
    <div class="card hoverable">
  
      <div class="card-start">
  
      
        <div class="project_img">
          <img src="/assets/images/browserslist.jpg">
        </div>
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4></h4></a>
          </div>
      </div>
      
      <div class="card-content">
           <p>
        </p>
  
      </div>
  
      <br>
      
    
    </div>
    <div class="card hoverable">
  
      <div class="card-start">
  
         
        <div class="project_img">
          <img src="/assets/images/coool.jpg">
        </div>
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4></h4></a>
          </div>
      </div>
      
      <div class="card-content">
  
        <p>
        </p>
  
      </div>
  
      <br>
      
      
    
  </div>
  
    <br>
  
        <div class="card hoverable">
  
      <div class="card-start">
        
    
        <div class="project_img">
          <img src="assets/images/coooool.jpg">
        </div>
       
      
      <div class="card-end">
          <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4></h4></a>
        </div>
      </div>
      <div class="card-content">
  
        
            
            
        
  
      </div>
  
      <br>
      
     
  
    </div>
  
    <div class="card hoverable">
  
      <div class="card-start">
          
    
        <div class="project_img">
          <img src="assets/images/soc.jpg">
        </div>
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4></h4></a>
          </div>
      </div>
      
      <div class="card-content">
  
        <p>
           
        </p>
  
      </div>
  
      <br>
      
  
  
    </div>
    <div class="card hoverable">
  
      <div class="card-start">
          
        <div class="project_img">
          <img src="assets/images/sool.jpg">
        </div>
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4></h4></a>
          </div>
      </div>
      
      <div class="card-content">
  
        <p>
        </p>
  
      </div>
  
      <br>
      
    
      </div>
  
    <div class="card hoverable">
  
      <div class="card-start">
  
         
        <div class="project_img">
          <img src="assets/images/sol.jpg">
        </div>
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4></h4></a>
          </div>
      </div>
      
      <div class="card-content">
  
        <p>
        </p>
  
      </div>
  
      <br>
      
    
  
    </div>
    <div class="card hoverable">
  
      <div class="card-start">
         
    
        <div class="project_img">
          <img src="assets/images/col.jpg">
        </div>
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4></h4></a>
          </div>
      </div>
      
      <div class="card-content">
  
        <p>
          
        </p>
  
      </div>
  
      <br>
      
     
  
    </div>
    <div class="card hoverable">
  
      <div class="card-start">
  
         
        <div class="project_img">
          <img src="assets/images/coooool.jpg">
        </div>
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4></h4></a>
          </div>
      </div>
      
      <div class="card-content">
  
        <p>
        </p>
  
      </div>
  
      <br>
      
     
  </div>
    </div>
  </div>
  </div>

  <style>
  
  h1 {
    text-align: center;
  }
  .a {
    background-color: aqua
  }
  </style>
  